
@model Simu.App.ViewModels.DadoViewModel

@{
    ViewData["Title"] = "Lista de Tarefas Feitas";
}

<head>
    <!-- Carrega a API Google JSAPI -->
    <script type="text/javascript" src="https://www.google.com/jsapi "></script>
    <script type="text/javascript">

        // Carrega as bibliotecas Google Visualization e as específicas para
        //montagem do gráfico
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Faz com que o desenho do gráfico seja feito logo depois que as
        //bibliotecas estiverem carregadas
        // google.setOnLoadCallback(drawChart);

        // Função que cria e popula uma tabela e cria e desenha um gráfico
        //com os dados da tabela
        function drawChart() {

            // Cria a tabela
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Linguagem'); //Adiciona a coluna 'Linguagem'
            data.addColumn('number', 'Porcentagem');//Adiciona coluna 'Porcentagem'
            data.addRows([ //Adiciona as linhas da tabela com os valores
                ['Corretas', 184],
                ['Incorretas', 96]
            ]);

            // Configura título, largura e altura do gráfico
            var options = {
                title: 'Questões Repondidas',
                width: 800,
                height: 500,
                is3D: true,
                legend: 'left',
                fontSize: 15,
                backgroundColor: 'Gainsboro',
                // chartArea: { 'backgroundColor': 'Gainsboro' },
                backgroundColor: {
                    stroke: 'Gainsboro',
                    strokeWidth: 2
                },
            };
            // Instancia e desenha o gráfico, passando os dados e as opções
            var chart = new google.visualization.PieChart(document.getElementById
                ('chart_div'));
            options.backgor
            chart.draw(data, options);
        }

        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart1() {

            // Cria a tabela
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Linguagem'); //Adiciona a coluna 'Linguagem'
            data.addColumn('number', 'Porcentagem');//Adiciona coluna 'Porcentagem'
            data.addRows([ //Adiciona as linhas da tabela com os valores
                ['Matemática', 75],
                ['Fundamentos da Computação', 80],
                ['Tecnologia da Computação', 125]
            ]);


            // Configura título, largura e altura do gráfico
            var options = {
                title: 'Questões Repondidas Por Área',
                width: 800,
                height: 500,
                is3D: true,
                legend: 'left',
                fontSize: 15,
                backgroundColor: 'Gainsboro',
                // chartArea: { 'backgroundColor': 'Gainsboro' },
                backgroundColor: {
                    stroke: 'Gainsboro',
                    strokeWidth: 2
                },
            };
            // Instancia e desenha o gráfico, passando os dados e as opções
            var chart = new google.visualization.PieChart(document.getElementById
                ('chart_div1'));
            chart.draw(data, options);
        }

        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart1);

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Corretas', 'Incorretas'],
                ['2016', 37, 33],
                ['2017', 50, 20],
                ['2018', 41, 29],
                ['2019', 56, 14]
            ]);

            var options = {
                title: 'Questões Repondidas Por Ano Da Prova',
                vAxis: { title: 'Questões' },
                hAxis: { title: 'Ano' },
                seriesType: 'bars',
                series: { 5: { type: 'line' } },
                width: 800,
                height: 500,
                backgroundColor: 'Gainsboro',
                // chartArea: { 'backgroundColor': 'Gainsboro' },
                backgroundColor: {
                    stroke: 'Gainsboro',
                    strokeWidth: 2
                },

            };


            var chart = new google.visualization.ComboChart(document.getElementById('columnchart_material'));
            chart.draw(data, options);
        }
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawVisualization);
    </script>
</head>


<!-- O gráfico ficará nesta Div -->
<div class="row justify-content-center">
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title justify-content-center text-uppercase text-muted mb-0">Respondidas</h5>
                        <span class="h2 font-weight-bold mb-0">
                            @Html.Display("Respondidas")
                        </span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-active-40"></i>
                        </div>
                    </div>
                </div>
                @*<p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Corretas</h5>
                        <span class="h2 font-weight-bold mb-0  text-success">
                            @Html.Display("Acertos")
                        </span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <i class="ni ni-chart-pie-35"></i>
                        </div>
                    </div>
                </div>
                @*<p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>*@
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Incorretas</h5>
                        <span class="h2 font-weight-bold mb-0  text-danger">
                          @Html.Display("Erros")
                        </span>

                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="ni ni-money-coins"></i>
                        </div>
                    </div>
                </div>
                <!--<p class="mt-3 mb-0 text-sm">-->
                @*<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>*@
                <!--</p>-->
            </div>
        </div>
    </div>

</div>


<div class="row justify-content-center" id="chart_div" style="width: 800px; height: 500px; margin-left: auto; margin-right: auto; position: relative; margin-top:30px"></div>
<div class="row justify-content-center" id="chart_div1" style="width: 800px; height: 500px; margin-left: auto; margin-right: auto; position: relative; margin-top: 30px "></div>
<div class="row justify-content-center" id="columnchart_material" style="width: 800px; height: 500px; margin-left: auto; margin-right: auto; position: relative; margin-top: 30px "></div>



