@model IEnumerable<Simu.App.ViewModels.TarefaViewModel>

@{
    ViewData["Title"] = "Lista de Tarefas à Fazer";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
<vc:Summary></vc:Summary>


<p>
    <a asp-action="Create" class="btn btn-info">Nova Tarefa</a>
</p>
<br />


<div id="TarefaTarget">
    <partial name="_ListarTarefas" />
</div>

<div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>

}
