@using System.Security.Claims
@model Simu.App.ViewModels.TarefaViewModel
@{
    ViewData["Title"] = "Editar Tarefa";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form asp-action="AtualizarTarefa">
    <div class="modal-body">

        <input type="hidden" asp-for="UsuarioId" />
        <input type="hidden" asp-for="Id" />


        <div class="form-group">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea cols="40" rows="5" asp-for="Descricao" class="form-control"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar Tarefa" class="btn btn-success" id="modalEdit" onclick="closeModal()"/>
                <input type="button" value="Fechar" class="btn btn-info" data-dismiss="modal" />
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function() {
            AjaxModal();
        });

    </script>

}
