
@model IEnumerable<Simu.App.ViewModels.TarefaViewModel>

@{
    ViewData["Title"] = "Lista de Tarefas Feitas";
}
<html>
<head>
    <!-- Carrega a API Google JSAPI -->
    <script type="text/javascript" src="https://www.google.com/jsapi "></script>
    <script type="text/javascript">

        // Carrega as bibliotecas Google Visualization e as específicas para
        //montagem do gráfico
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Faz com que o desenho do gráfico seja feito logo depois que as
        //bibliotecas estiverem carregadas
        google.setOnLoadCallback(drawChart);

        // Função que cria e popula uma tabela e cria e desenha um gráfico
        //com os dados da tabela
        function drawChart() {

            // Cria a tabela
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Linguagem'); //Adiciona a coluna 'Linguagem'
            data.addColumn('number', 'Porcentagem');//Adiciona coluna 'Porcentagem'
            data.addRows([ //Adiciona as linhas da tabela com os valores
                ['C', 18.3],
                ['Java', 16],
                ['Objective-C', 9.3],
                ['C++', 9.1],
                ['C#', 6.6],
                ['Visual Basic', 5.6],
                ['PHP', 5],
                ['Outras', 26.1]
            ]);

            // Configura título, largura e altura do gráfico
            var options = { 'title': 'As linguagens de programação mais utilizadas - Julho/2012 - Fonte: Tiobe', 'width': 550, 'height': 350, 'is3D': true, 'legend': 'left', 'fontSize': 15 };

            // Instancia e desenha o gráfico, passando os dados e as opções
            var chart = new google.visualization.PieChart(document.getElementById
                ('chart_div'));
            chart.draw(data, options);
        }

        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'dasdasdas', 'Expenses', 'Profit'],
                ['2014', 1000, 400, 200],
                ['2015', 1170, 460, 250],
                ['2016', 660, 1120, 300],
                ['2017', 1030, 540, 350]
            ]);

            var options = {
                chart: {
                    title: 'Company Performance',
                    subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>

<body>
    <!-- O gráfico ficará nesta Div -->
    <div id="chart_div"></div>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</body>
</html>